<% include header.html %>


<script>

  var socket = io.connect();

/*
  socket.on('news', function (data) { 
    socket.emit('my other event', { my: 'data' });
  });
*/
 
  socket.on('ready', function(nickname){
    document.getElementById('online').innerHTML = "当前用户: "+nickname;
    setServerMsg('Hi, '+nickname+ ' is online');
  });

  socket.on('chatMessage', function (data){
    chatUpdate(data[0]+':'+data[1]);
  });	

  socket.on('offline', function (nickname){
    setServerMsg('Oh!'+ nickname + ' is offline');
  });



</script>

<h1 class="head"><%= title %></h1>

  <div class="left">
    <div >
        <textarea cols="30" rows="20" id="chat"> </textarea>
    </div>
    <div id='setAName'>
    	<p>
    		设置昵称：<input  type="text" id="nickname"></input>
    		<button onclick="setMyName()">OK</button>
    	</p>
    </div>
    <div id='speak' style="display:none">
    	<p>
    		我说：
    		<input  type="text" id="chatMessage" onkeypress="if(event.keyCode==13) { btn.click();}"></input>
        <button id='btn' onclick = "chatSend()"> Send </button>
      </p>
    </div>  
  </div>
    
  <div class="right">
        <p id='online'></p>
        <p id='serverMsg'></p>
        <div id='logout' style="display:none">
          <button onclick="logout()">logout</button>
        </div>
  </div>

<% include footer.html %>