<% include header.html %>
<div class="container-fluid">
	<form class="form-horizontal" method="post">
		<fieldset>
			<legend><%= title %></legend>
				<div class="control-group">
					<label class="control-label" for="name">昵称</label>
						<div class="controls">
					<input type="text" class="input-xlarge" id="name" name="name">
						</div>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-primary">登陆</button>
					<button type="reset" class="btn btn-primary" >取消</button>
				</div>
		</fieldset>
</form>
</div>
<% include footer.html %>